mixin article(articleContent, mockup)
  article.featured
    .article-wrapper.columns
      .column.is-half
        span.tag.date-tag.is-medium= articleContent.date
        a.featured-img-anchor(href=baseurl + 'articles/' + articleContent.link + '.html')
          if mockup
            img.featured-img(src=articleContent.image + "?sig=" + Math.floor(Math.random() * 20) + 1 )
          else
            img.featured-img(src=baseurl + "assets/files/img/" + articleContent.image)
      .column
        .article-tags
          each val in articleContent.tags
            span.article-tag.is-medium= val
          if articleContent.icons
            each val in articleContent.icons
              span.icon
                i.fas(class='fa-' + val) 
        a.article_title_link(href=baseurl + 'articles/' + articleContent.link + '.html')
          h2.featured-article-title= articleContent.title
        if block
          block
        else
          p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.
        a.read_more(href=baseurl + 'articles/' + articleContent.link + '.html') czytaj
          
mixin similiarArticles(articleContent)
  .column
    article.featured
      .similiar-article-wrapper
        span.tag.date-tag.is-medium= articleContent.date
        if articleContent.image
          a.featured-img-anchor(href=baseurl + 'articles/' + articleContent.link + '.html')
            img.featured-img(src=baseurl + "assets/files/img/" + articleContent.image)
        else
          img(src="https://via.placeholder.com/320x180").featured-img
        .article-tags
          each val in articleContent.tags
            span.article-tag.is-medium= val
        a(href=baseurl + 'articles/' + articleContent.link + '.html')
          h3.featured-article-title= articleContent.title
        if block
          block
        else
          p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.
