mixin current(current, station)
  .container.is-fullhd
    if current.image
      .player-cover.cover(style= "background-image: url("+ baseurl + "'assets/files/img/" + current.image + "')")
        include ../player_includes/_controls.pug
    else if current.icon
      .player-cover-icon
        span(class="icon is-large icon-"+ current.icon)
          i(class="fas fa-3x fa-"+ current.icon)
    .player-main 
      .player-live-info
        .tabs.is-boxed.is-fullwidth.is-toggle
          ul
            li.tab-title.is-active(data-tab-content = "on-air-tab") 
              a
                span.icon
                  img(src=baseurl + "assets/files/img/soundwave.svg")
                span Teraz grane
            li.tab-title(data-tab-content = "stations-tab") 
              a Stacje
        .content-tab#on-air-tab
          .player-current
            .columns.is-mobile.is-vcentered
              .column.is-2
                span.is-large.icon.player-current-station
                  img(src=baseurl + "assets/files/img/logo-symbol-negatyw.svg")
              .column.is-offset-1
                h3
                  span.artist-name= current.name
                  span.song-title= current.title
        .content-tab.is-hidden-mobile#stations-tab
          .player-stations
            ul.station-list
              li
                a.station-link(href='#') 
                  span.icon
                    img(src=baseurl + "assets/files/img/glowny.svg")
                  span.stationlink-artist-name Varius Manx, Kasia Stankiewicz #[span.stationlink-title Kot bez ogona ]
                  .play-icon-wrapper
                    .play-icon
              li
                a.station-link(href='#') 
                  span.icon
                    img(src=baseurl + "assets/files/img/live.svg")
                  span.stationlink-artist-name Nick Cave & The Bad Seeds #[span.stationlink-title Jubilee Street ]
                  .play-icon-wrapper
                    .play-icon
              li
                a.station-link(href='#') 
                  span.icon
                    img(src=baseurl + "assets/files/img/top50.svg")
                  span.stationlink-artist-name Tom Waits #[span.stationlink-title Ol'55 ]
                  .play-icon-wrapper
                    .play-icon
              li
                a.station-link(href='#') 
                  span.icon
                    img(src=baseurl + "assets/files/img/moje_radio.svg")
                  span.stationlink-artist-name The Dumplings #[span.stationlink-title Raj ]
                  .play-icon-wrapper
                    .play-icon
              li
                a.station-link(href='#') 
                  span.icon
                    img(src=baseurl + "assets/files/img/dance.svg")
                  span.stationlink-artist-name Elvis Presley #[span.stationlink-title Crawfish ]
                  .play-icon-wrapper
                    .play-icon
